# Browser headless mode (true = no window, false = show browser) - Firstly you dont have account session so make it "False" and log in into your tiktok accout (i use QR-code for login)
HEADLESS=true

# TikTok contact name (exact match from your messages list)
FRIEND_NAME=YourFriendName

# Messages to send (you can send single message or multi by adding | beetween words (it will choose one for random), for example Message1|Message2)
MESSAGES=Hello!|👍|Auto-Message

# Check interval in seconds (600 = 10 minutes, its time when program checks for send date)
CHECK_INTERVAL_SEC=600

# Hour to start sending (24h format, 8 = 8:00 AM, when programm will send message, works like "If current time is more or equal then SEND_TIME_HOUR then open browser and send message")
SEND_TIME_HOUR=8